@use '../../../styles/mixins' as *; 

.about-container {
  margin-top: 3rem;
  max-width: 1100px;
  margin: 3rem auto;



  .header {
    text-align: center;
  }

  .content-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 80px;
    align-items: start;
    margin-top: 3rem;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .image-area {
      .image-stack {
        position: relative;
        width: 320px;
        height: 400px;
        margin: 0 auto;

        .profile-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
          position: relative;
          z-index: -1;
          border: 1px solid var(--border-color);
        }

        .frame-1,
        .frame-2 {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          background: var(--card-bg);
          border: 1px solid var(--border-color);
        }

        .frame-1 {
          transform: rotate(-6deg);
          z-index: 1;
        }

        .frame-2 {
          transform: rotate(4deg);
          z-index: 2;
        }
      }
    }

    .text-area {
      .info-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .card {
          @include themed-card
        }
      }
    }

  }
}

@media (max-width: 768px) {
  .about-container {
    padding: 60px 20px;
  }

  .header h2 {
    font-size: 2rem;
  }

  .text-area h3 {
    font-size: 1.5rem;
  }
}