:host {
  position: sticky;
  top: 0px;
  .nav-container {
    .nav-content {
      background-color: var(--bg-color);
      display: grid;
      grid-template-areas: "a b";
      grid-auto-columns: 1fr 2fr;
      padding: 24px;
      color: var(--text-primary);

      .logo {
        font-size: 20px;
        font-weight: 500;
      }

      .desktop-only {
        @media (max-width: 768px) {
          display: none;
        }
      }

      .mobile-toggle {
        display: none;
        font-size: 1.8rem;
        cursor: pointer;

        @media (max-width: 768px) {
          display: flex;
          justify-content: end;
        }
      }

    }
  }

  .mobile-sidebar {
    position: fixed;
    top: 66px;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: var(--bg-color);
    transition: right 0.4s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &.open {
      right: 0;
    }

    .nav-links {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

}

.nav-links {
  display: flex;
  gap: 23px;
  justify-content: end;
  align-items: center;
  list-style: none;

  li a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
  }
}