@use '../../../styles/mixins' as *;

.skills-section {
  padding: 50px 20px;
  background-color: var(--bg-color);
  text-align: center;
}

.header {
  margin-bottom: 60px;

  p {
    color: var(--text-secondary);
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.skill-card {
  @include themed-card;

  &:hover {
    .icon-box {
      background: rgba(59, 130, 246, 0.1);
    }
  }

  .icon-box {
    width: 50px;
    height: 50px;
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    color: var(--accent-color);
    transition: background 0.3s ease;
  }
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    color: var(--text-secondary);
    font-size: 0.95rem;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .bullet {
      width: 6px;
      height: 6px;
      min-width: 6px;
      background-color: var(--text-primary);
      border-radius: 50%;
      // opacity: 0.6;
    }
  }
}